
@btn-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);

// default
@btn-default-color: @text-color;
@btn-default-bg: @background-base;
@btn-border-color: @border-color-base;

// primary
@btn-primary-color: @white;
@btn-primary-bg: @primary-color;
@btn-primary-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);

// danger
@btn-danger-color: @white;
@btn-danger-border: color(~`colorPalette('@{error-color}', 5) `);
@btn-danger-bg: color(~`colorPalette('@{error-color}', 5) `);

// link
@btn-link-color: @link-color;
@btn-link-hover-bg: transparent;

// disable
@btn-disable-color: @disabled-color-base;
@btn-disable-border-color: @border-color-base;
@btn-disable-bg-color: @disabled-bg-color;

// group
@btn-group-border: @primary-5;

// text
@btn-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
@btn-text-hover-bg: rgba(0, 0, 0, 0.018);

// ghost
@btn-ghost-color: @text-color;
@btn-ghost-border: @white;
@btn-ghost-bg: transparent;

// 字体
@btn-font-size-lg: @font-size-lg;
@btn-font-size-sm: @font-size-base;
@btn-font-weight: @font-weight-400;

// 样式
@btn-border-style: @border-style-base;

// 水平 padding
@btn-padding-horizontal-base: @padding-md-px-16 - 1px;
@btn-padding-horizontal-lg: @padding-md-px-16 - 1px;
@btn-padding-horizontal-sm: @padding-xs-px-8 - 1px;

// 圆角度
@btn-border-radius-base: @border-radius-base;
@btn-border-radius-sm: @border-radius-base;

// 宽度
@btn-border-width: @border-width-base;

// 高度
@btn-height-base: @height-px-32;
@btn-height-sm: @height-px-24;
@btn-height-lg: @height-px-40;

@btn-circle-size: @btn-height-base;
@btn-circle-size-lg: @btn-height-lg;
@btn-circle-size-sm: @btn-height-sm;

@btn-square-size: @btn-height-base;
@btn-square-size-lg: @btn-height-lg;
@btn-square-size-sm: @btn-height-sm;
@btn-square-only-icon-size: @font-size-base + 2px;
@btn-square-only-icon-size-sm: @font-size-base;
@btn-square-only-icon-size-lg: @btn-font-size-lg + 2px;

@btn-line-height: @line-height-base;
